   # Visual Data Analysis of Fraudulent Transactions

In [26]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [27]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference indicate there could be a fraudulent transaction? Explain your rationale.

In [30]:
# loading data for card holder 2 and 18 from the database
# create query variable to query all data
query_card_holder = """
SELECT transaction.transaction_date, card_holder.card_holder_id, card_holder.card_holder_name, credit_card.credit_card_number, transaction.transaction_amount, merchant.merchant_name, merchant_category.merchant_category_name
FROM card_holder
LEFT JOIN credit_card ON card_holder.card_holder_id = credit_card.card_holder_id
LEFT JOIN transaction ON credit_card.credit_card_number = transaction.credit_card_number
LEFT JOIN merchant ON transaction.merchant_id = merchant.merchant_id
LEFT JOIN merchant_category ON merchant.merchant_category_id = merchant_category.merchant_category_id
"""

# read in all data as dataframe
df_card_holder = pd.read_sql(query_card_holder, engine)

# index the date
df_card_holder.set_index("transaction_date", inplace=True)
df_card_holder.head()

,card_holder_id,card_holder_name,credit_card_number,transaction_amount,merchant_name,merchant_category_name
transaction_date,,,,,,
2018-01-01 21:35:10,13,John Martin,3561954487988605,6.22,Dominguez PLC,food truck
2018-01-01 21:43:12,13,John Martin,5135837688671496,3.83,Patton-Rivera,bar
2018-01-01 22:41:21,10,Matthew Gutierrez,213193946980303,9.61,Day-Murray,food truck
2018-01-01 23:13:30,4,Danielle Green,4263694062533017,19.03,Miller-Blevins,pub
2018-01-01 23:15:10,18,Malik Carlson,4498002758300,2.95,"Cline, Myers and Strong",restaurant

In [ ]:
# plot for cardholder 2

In [ ]:
# plot for cardholder 18

In [ ]:
# combined plot for card holders 2 and 18

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2