   # Visual Data Analysis of Fraudulent Transactions

In [37]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine

In [38]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference indicate there could be a fraudulent transaction? Explain your rationale.

In [49]:
# loading data for card holder 2 and 18 from the database
# create query variable to query all data
query_card_holder = """
SELECT transaction.date, card_holder.id, card_holder.name, credit_card.card, transaction.amount, merchant.name, merchant_category.name
FROM card_holder
LEFT JOIN credit_card ON card_holder.id = credit_card.id_card_holder
LEFT JOIN transaction ON credit_card.card = transaction.card
LEFT JOIN merchant ON transaction.id_merchant = merchant.id
LEFT JOIN merchant_category ON merchant.id_merchant_category = merchant_category.id
"""

# read in all data as dataframe
df_card_holder = pd.read_sql(query_card_holder, engine)
df_card_holder

,date,id,name,card,amount,name,name
0,2018-01-01 21:35:10,13,John Martin,3561954487988605,6.22,Dominguez PLC,food truck
1,2018-01-01 21:43:12,13,John Martin,5135837688671496,3.83,Patton-Rivera,bar
2,2018-01-01 22:41:21,10,Matthew Gutierrez,213193946980303,9.61,Day-Murray,food truck
3,2018-01-01 23:13:30,4,Danielle Green,4263694062533017,19.03,Miller-Blevins,pub
4,2018-01-01 23:15:10,18,Malik Carlson,4498002758300,2.95,"Cline, Myers and Strong",restaurant
...,...,...,...,...,...,...,...
3495,2018-12-31 01:24:15,15,Kyle Tucker,4723783028106084756,4.84,Carter-Blackwell,pub
3496,2018-12-31 03:33:28,10,Matthew Gutierrez,4165305432349489280,3.26,"Cline, Myers and Strong",restaurant
3497,2018-12-31 05:53:58,19,Peter Mckay,5361779664174555,10.73,Santos-Fitzgerald,pub
3498,2018-12-31 08:22:17,23,Mark Lewis,4188164051171486,11.87,Berry-Lopez,restaurant
3499,2018-12-31 09:50:25,15,Kyle Tucker,4723783028106084756,19.75,"Bryant, Thomas and Collins",pub

In [ ]:
# plot for cardholder 2

In [ ]:
# plot for cardholder 18

In [ ]:
# combined plot for card holders 2 and 18

   ### Conclusions for Question 1

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

In [ ]:
# change the numeric month to month names

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2